In [10]:
import os,sys
import pandas as pd
sys.path.append("../")
from utils.basic import get_files

In [11]:
path = "../data/stocks/nyse"
files = get_files(path)
tickers = [f.split(".")[0] for f in files]

In [23]:
first = True
for file in files:
    t = pd.read_csv(os.path.join(path,file),index_col=0)
    if first:
        df = pd.DataFrame(t["close"])
        df = df.rename(columns={"close":file.split(".")[0]})
        first=False
    else:
        df = df.join(t["close"],on="date") 
        df = df.rename(columns={"close":file.split(".")[0]})
df.head()

,AON,ICE,XOM,LYV,HES,IPG,SEE,WAB,COF,SYF,...,GD,KMI,MTB,SJM,MKC,WMT,TDG,BIO,D,EIX
date,,,,,,,,,,,,,,,,,,,,,
2017-07-31,138.169998,66.709999,80.040001,37.270000,44.540001,21.610001,43.509998,75.360001,86.180000,30.320000,...,196.330002,20.430000,163.149994,121.900002,47.650002,79.989998,282.140015,235.630005,77.180000,78.680000
2017-08-01,139.589996,67.279999,80.169998,37.540001,43.160000,21.740000,43.540001,73.839996,86.010002,29.879999,...,196.529999,20.350000,164.660004,120.739998,47.625000,80.500000,283.079987,237.710007,77.300003,78.879997
2017-08-02,139.229996,67.019997,80.599998,37.160000,44.000000,21.700001,43.560001,73.629997,85.709999,30.059999,...,198.039993,20.330000,164.919998,120.809998,47.814999,80.529999,282.450012,238.600006,77.860001,78.739998
2017-08-03,138.970001,65.150002,80.489998,37.320000,43.209999,21.830000,43.259998,73.430000,84.589996,29.910000,...,199.330002,20.230000,163.789993,121.169998,47.590000,80.870003,280.130005,242.279999,78.400002,79.440002
2017-08-04,138.949997,64.820000,80.209999,37.360001,44.349998,21.309999,43.490002,74.639999,84.410004,29.870001,...,200.070007,20.200001,163.580002,121.470001,47.255001,80.480003,280.600006,227.309998,78.080002,79.290001

In [27]:
import statsmodels.api as sm

In [28]:
sm.correlation_tools.corr_nearest(df,1e-5)

AttributeError: module 'statsmodels.api' has no attribute 'correlation_tools'